/GAR_пробная_по_БД/nbproject/private/
/GAR_пробная_по_БД/build/
/GAR_пробная_поБД/nbproject/private/
/GAR_пробная_поБД/build/
/GAR/nbproject/private/
/GAR/build/
/GAR_TESTBD/nbproject/private/
/GAR_TESTBD/build/
/GARTESTBD/nbproject/private/
/GARTESTBD/build/
/Проеты/GAR_TEST/nbproject/private/
/Проеты/GAR_TEST/GAR_TEST-war/nbproject/private/
/Проеты/GAR_TEST/GAR_TEST-ejb/nbproject/private/
/Проеты/GAR_TEST/GAR_TEST-war/build/
/Проеты/GAR_TEST/GAR_TEST-ejb/dist/
/Проеты/GAR_TEST/GAR_TEST-ejb/build/
/Проеты/GAR_TEST/build/
/Проеты/GAR_TEST/GAR_TEST-war/dist/
/Проеты/GAR_TEST/dist/
/Проеты/GARTESTBD_version2/nbproject/private/
/Проеты/GARTESTBD_version2/build/