#main {
/* background-color: #f2f2f2;*/
 padding: 30px;
 width: 950px;
-webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
 border-radius: 4px;
/* border-bottom: 4px solid #ddd;*/
}
#real-estates-detail #author img {
 -webkit-border-radius: 100%;
 -moz-border-radius: 100%;
 -ms-border-radius: 100%;
 -o-border-radius: 100%;
 border-radius: 100%;
 border: 5px solid #ecf0f1;
 margin-bottom: 10px;
 width: 250px;
 height: 250px;
}
/*#real-estates-detail .sosmed-author i.fa {
 width: 30px;
 height: 30px;
 border: 2px solid #bdc3c7;
 color: #bdc3c7;
 padding-top: 6px;
 margin-top: 10px;
}*/
.panel-default .panel-heading {
 background-color: #fff;
}
#real-estates-detail .slides li img {
 height: 450px;
}
.panel-goals {
    width: 400px;
    position: absolute;
    top: 70px;
    right: 25px;
}
/*#real-estates-detail .panel-body {
background-color: #f00 !important
}*/

/*#real-estates-detail > .col-md-4 {
padding-right: 0px !important
}
#real-estates-detail > .col-md-8 {
padding-left: 0px !important
}
#real-estates-detail .panel {
margin-top: 0px !important;
margin-bottom: 0px !important;
}*/
#real-estates-detail td:first-child {
width: 180px !important;
}