body{
background-color: #FFFC73;
}
.navbar-default{
    background: #068010;     
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-default .navbar-text{
  color: #ffffff;  
}
.navbar-default .navbar-nav>li>a:hover {
    color: #36FF46;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background: #ffffff;
}
.navbar-brand > img {
    height: 30px;
    width: 60px;
}
#left { position: absolute; left: 0; top: 0; width: 50%; }
#right { position: absolute; right: 0; top: 0; width: 50%; } 

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
