body{
    background-color: #FFFC73;
}
.navbar-default{
    background: #068010;     
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-default .navbar-text{
    color: #ffffff;  
}
.navbar-default .navbar-nav>li>a:hover {
    color: #36FF46;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background: #ffffff;
}
.navbar-brand > img {
    height: 30px;
    width: 60px;
}
#left { position: absolute; left: 0; top: 0; width: 50%; }
#right { position: absolute; right: 0; top: 0; width: 50%; } 

.btn span.glyphicon {    			
    opacity: 0;				
}
.btn.active span.glyphicon {				
    opacity: 1;				
}
.carousel .item{
    background: #333;    
    text-align: center;
    height: 600px !important;
}
.carousel h2{
    color: #fff;
    margin: 0;
    padding-top: 50px;
    font-size: 48px;
}
.carousel p{
    color: #666;
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}

.home-bl__head {
    margin-bottom: 30px;
    color: #000000;
    text-align: center;
    font-size: 16pt;
}
.home-bl__title {    
    font-size: 50pt;
    color: #068010;    
}
.center { 
    text-align: center;
}
.rw-wrapper{
    width: 50%;
    position: relative;
    margin: 0 auto 0 auto;
    font-family: 'Bree Serif';
    /*	padding: 10px;*/
}
.rw-sentence{
    /*	margin: 100px;*/
    text-align: left;
    /*	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
}
.rw-sentence span{
    color: #444;
    white-space: nowrap;
    font-size: 130%;
    font-weight: normal;
}
.rw-words{
    display: inline;
    text-indent: 10px;
}
.rw-words span{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    color: #a3089b;
}

/*.rw-words-1 span{
        animation: rotateWordsFirst 18s linear infinite 0s;
}*/
.rw-words-2 span{
    animation: rotateWordsSecond 18s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
    animation-delay: 3s; 
    color: #a3089b;
}
.rw-words span:nth-child(3) { 
    animation-delay: 6s; 
    color: #a3089b;	
}
.rw-words span:nth-child(4) { 
    animation-delay: 9s; 
    color: #a3089b;
}
.rw-words span:nth-child(5) { 
    animation-delay: 12s; 
    color: #a3089b;
}
.rw-words span:nth-child(6) {  
    animation-delay: 15s; 
    color: #a3089b;
}
/*keyframes rotateWordsFirst {*/
/*    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }*/
/*    19% { opacity: 1; height: 60px; }
    25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }*/
/*}*/
@keyframes rotateWordsSecond {
    0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
    20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}

#footer { 
    flex: 0 0 auto;
/*    position: fixed;*/
    height: 70px; 
    background: #F4FA58; 
    bottom: 0; 
    width: 100%; 
}

.b {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 160px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
.b:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: white;
  transform: translateY(-7px);
}
.otstup {
width:1024px;
padding:20px;
margin:0 auto;
background:#fff;
}
